<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Links Hub Web Portal</title>
</head>
<body>
    <header></header>
    <h1 style="text-align:center">.Net Core 3.1 Web Project</h1>
    <h3 style="text-align:center"><i>Links Hub</i></h3>
    <section>
        @RenderBody()
    </section>
    <footer>Project for learning .Net Core 3.1</footer>
</body>
</html> 